banner {
    font-family: 'Cardo', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
}
banner#first_dot {
  color: #4CBF6D;
}

banner#second_dot {
  color: #5482F7;
}
banner ul {
    margin-top: 0px;
    margin-bottom: 25px;
}
banner img {
    position: relative;
    top: 4px;
    color: white !important;
}
banner a {
    text-decoration: none;
}
banner h1 {
    margin: 35px;
}
.float_right {
    float: right
}
.float_left {
    float: left;
}
nav {
    height: 100%;
}
nav ul li.active a {
    color: black;
    text-decoration: none;
    cursor: default;
    outline: none;
}
/* skip (inspired by okcupid iphone interface)
*******************************************************************************/
button.skip {
  background: #36518f;
  background: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #8c9cbf), color-stop(0.5, #546a9e), color-stop(0.5, #36518f), color-stop(1, #3d5691));
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 1px 0 0 #b1b9cb;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding: 7px 0 8px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
  width: 50px;
}

button.skip:hover {
  background: #2f477d;
  background: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #7f8dad), color-stop(0.5, #4a5e8c), color-stop(0.5, #2f477d), color-stop(1, #364c80));
  cursor: pointer;
}

button.skip:active {
  outline: none !important;
  -moz-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 #fff;
  /*box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 #fff;*/
  box-shadow: inset 0 0 20px 0 #4f80ff, 0 1px 0 #fff;
  cursor: pointer;
}

button.twitter {
    background: #4099FF;
    background: -moz-linear-gradient(top, #A9D2FF 0%, #73a5dd 50%, #4099FF 50%, #358aec 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #A9D2FF), color-stop(0.5, #73a5dd), color-stop(0.5, #4099FF), color-stop(1, #358aec));
}

button.twitter:hover {
  background: #5e96d6;
  background: -moz-linear-gradient(top, #9fc7f2 0%, #6b9bd1 50%, #5e96d6 50%, #367fd3 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #9fc7f2), color-stop(0.5, #6b9bd1), color-stop(0.5, #5e96d6), color-stop(1, #367fd3));
  cursor: pointer;
}

button.twitter:active {
  box-shadow: inset 0 0 20px 0 #42dff7, 0 1px 0 #fff;
}

button.github {
    background: #11090a;
    background: -moz-linear-gradient(top, #9E9C9C 0%, #686565 50%, #686565 50%, #353132 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #9E9C9C), color-stop(0.5, #686565), color-stop(0.5, #353132), color-stop(1, #11090A));
    font-family: 'Cambo', serif;
}

button.github:hover {
  background: #5e96d6;
  background: -moz-linear-gradient(top, #C1C1C1 0%, #9B9B9B 50%, #848383 50%, #3D3D3D 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #C1C1C1), color-stop(0.5, #9B9B9B), color-stop(0.5, #848383), color-stop(1, #3D3D3D));
  cursor: pointer;
}

button.github:active {
  box-shadow: inset 0 0 20px 0 #e0e0e0, 0 1px 0 #fff;
}

body {
  background: url(http://a2.twimg.com/profile_images/1689847847/image.jpg) no-repeat;
  background-size: 15%;
  background-position-x: 20px;
}
#banner_text {
  margin-left: 140px;
}
