<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/960.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="google-site-verification" content="qnL4udi3oM0TZ2VRYUiys9_RNLaazO_FKh02zjN4zt4" />
    <title><%= title %></title>

    <!--
    <script src="https://jlank.caterhero.jit.su/dist/caterhero-widget.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://jlank.caterhero.jit.su/css/caterHero.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" charset="utf-8"> $(function(){ $("a[rel^='prettyPhoto']").prettyPhoto(); }); </script>
    -->

  </head>
  <body>

      <a href="http://jlank.caterhero.jit.su/?iframe=true&width=800&height=500" rel="prettyPhoto[iframes]" title="Cater Hero">Cater Hero</a>

    <banner class="container_12">
        <ul>
           <li><a href="/"><h1 id="banner_text">blog<span id="first_dot">.</span>jlank<span id="second_dot">.</span>com</hi></a></li>
        </ul>
    </banner>


    <section class="container_12">
        <div class="clear"></div>
    <nav class="grid_2 float_left">
      <ul>
        <li <%= ' class="active"' if @path == 'index' %>>
            <a <%= ' onclick="return false;"' if @path == 'index' %> href="/">Home</a>
        </li>
        <li <%= ' class="active"' if @path == 'books-reading' || @path == 'books-read' || @path == 'books-to-read' %>>
            <a <%= ' onclick="return false"' if @path == 'books-reading' || @path == 'books-read' || @path == 'books-to-read' %> href="/books-reading/">Books</a>
        </li>
        <li <%= ' class="active"' if @path == 'archives' %>>
            <a <%= ' onclick="return false"' if @path == 'archives' %> href="/archives/">Archives</a>
        </li>
        <li <%= ' class="active"' if @path == 'about' %>>
            <a <%= ' onclick="return false"' if @path == 'about' %> href="/about/">About</a>
        </li>
      </ul>
      <ul>
      <p><button class="skip github" title="github.com/jlank"
      onclick="window.open('http://github.com/jlank')">g</button></p>
      <p><button class="skip twitter" title="twitter.com/jlank"
      onclick="window.open('http://twitter.com/jlank')">t</button></p>
      <p><button class="skip facebook" title="facebook.com/jlank"
      onclick="window.open('http://facebook.com/jlank')">f</button></p>
      </ul>
    </nav>
    <section class="grid_10 main_content">
        <section class="grid_8">
            <%= yield %>
        </section>
    </section>
    </section>
    <footer class="container_12">
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
    <link href='http://fonts.googleapis.com/css?family=Cardo|VT323:regular' rel='stylesheet' type='text/css'>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6138452-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>

